<mat-card class="box">
  <mat-card-header>
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="login()" #loginForm="ngForm" class="example-form">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input name="userName" matInput placeholder="Username" ngModel required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input name="password" type="password" matInput placeholder="Password" ngModel required>
      </mat-form-field>
      <p> --{{isLoggedIn$|async}}</p>
    </mat-card-content>

    <button mat-stroked-button color="accent" [disabled]="!loginForm.valid" class="btn-block" type="submit">Sign
      in</button>
    <button mat-stroked-button color="primary" [routerLink]="'../signup'" class="btn-block">Sign Up</button>

  </form>
</mat-card>
