<mat-card class="box">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <form class="example-form" #signUpForm="ngForm" (ngSubmit)="register()">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput ngModel required name="userName" placeholder="Username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" ngModel required email name="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" ngModel required name="passsword">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Choose a role...</mat-label>
        <mat-select ngModel required name="role">
          <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <button mat-stroked-button color="accent" class="btn-block">Register</button>
    <button mat-stroked-button color="primary" routerLink="../" class="btn-block">signin</button>
  </form>
</mat-card>
